@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
@font-face {
    font-family: 'DigitsFont';
    src: url('fonts/digital-7.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    /* font-family: "Roboto Condensed", serif; */
}

html {
    background-color: rgb(211, 243, 243);
}

/* Styling the calculator main */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    width: 350px;
    height: 500px;
    padding: 40px 20px;
    background-color: #10171c;
    border-radius: 2rem;
}

.display {
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
    height: 70px;
    background-color: #f5ae42;
    border-radius: 15px;
}

.display p {
    font-family: 'DigitsFont';
    font-size: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
    background-color: #10171c;
    margin: 0 6px;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttons .row1, .row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 0.8rem;
}

.buttons button {
    font-size: 1.4rem;
    font-weight: 900;
    width: 65px;
    height: 50px;
    border: none;
    border-radius: 8px;
    color: white;
}

.row4 {
    position: relative;
}

.buttons .plus {
    position: absolute;
    height: 116px;
    right: 0;
}

.buttons .control {
    background-color: #da5339;
}

.buttons .operator {
    background-color: #4b7068;
}

.buttons .digit {
    background-color: #aac5c1;
}